<div class="cambia">
    <form [formGroup]="formu" lass="formula needs-validation imgcar imgn">
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="nombreinput">Nomre de Producto</label>
          <input formControlName="nombre" name="nombre" type="text" class="form-control" id="departmentname"
            placeholder="#########" required>
          <small *ngIf="getError('nombre')">{{ getError('nombre')}}</small>
  
        </div>
      </div>
  
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="slugnpm">Slug</label>
          <input formControlName="slug" name="slug" type="text" class="form-control" id="departmentcity"
            placeholder="#########" required>
          <small *ngIf="getError('slug')">{{ getError('lastname')}}</small>
  
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="precionpm">Precio</label>
          <input formControlName="precio" name="precio" type="number" class="form-control" id="inputdocumento"
            placeholder="00000" required>
          <small *ngIf="getErrornumero('precio')">{{ getErrornumero('precio')}}</small>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <div *ngIf="categoria.length>0" class="form-group col-md-6">
            <div class="col-md-12">
              <label for="categoria_idnpm">Categoria</label>
              <select class="form-select" formControlName="categoria_id" name="categoria_id" required>
                <option value="" disabled>------------------</option>
                <option *ngFor="let item of categoria" [value]="item.id" [selected]="item.id == 1 ">{{item.nombre}}</option>
              </select>
              <small *ngIf="getError('categoria_id')">{{ getError('categoria_id')}}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="descripcionnpm">Description</label>
        <textarea formControlName="descripcion" name="descripcion" class="form-control rounded-0"
            id="exampleFormControlTextarea2" rows="3"></textarea>
        <small *ngIf="getError('descripcion')">{{ getError('descripcion')}}</small>
    </div>
   
    </form>
  </div>