<div class="container-fluid p-0">
  <!-- About-->
  <section class="resume-section" id="about" >
      <div class="resume-section-content">
          <h1 class="mb-0">

              <span class="text-primary">LUIS ALFONSO HUILA HERNANDEZ</span>
          </h1>
          <div class="subheading mb-5">
              TELEFONO :3233684754
           <span> Email : <a href="mailto:huila457@gmail.com">huila457@gmail.com</a></span>
          </div>
          <p class="lead mb-5">
            PRUEBA TECNICA DE LARAVEL
          </p>
        
      </div>
  </section>

</div>
